.allroom-container {
    width: 95vw; 
    position: absolute; 
    bottom: 10px;
    left: 35px;
    align-items: center;
}

.card-room {
    background-color:indianred;
    height: 350px;
}

.bg-white{
    background-color: white;
}

.label{
    background-color: rgba(123, 113, 113, 0.7);
    color:white;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    left:12px;
    z-index: 20;
    height: 30px;
    width: 150px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
}


.slide{
    height: 350px;
    object-fit:fill;
}