.relative {
    position: relative;
}

.color-white {
    color:white;
}

.color-black {
    color:black;
}

.color-red {
    color:red;
}

.font-500 {
    font-weight: 500;
}

.m-2 {
    margin: 2rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-t-1 {
    margin-top: 1rem;
}

.m-r-1 {
    margin-right: 1rem;
}

.m-l-r-1 {
    margin: 0px 0.5rem 0px 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-r-1 {
    padding-right: 1rem;
}

.content-right {
    text-align: end;
}
